Source: ros-groovy-genlisp
Section: misc
Priority: extra
Maintainer: Bhaskara Marthi <bhaskara@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-genmsg
Homepage: http://www.ros.org/wiki/roslisp
Standards-Version: 3.9.2

Package: ros-groovy-genlisp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-genmsg
Description: Common-Lisp ROS message and service generators.
